#availability{
padding: 100px 0;
}
#availability .wrapper{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
#availability .wrapper div.right{
    width: 40%;
}
#availability .wrapper div.right div.slip{
    border: 0.3px solid #47b97d;
    padding: 20px 50px;
}
#availability .wrapper div.right div.slip h6{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #47b97d;
}
#availability .wrapper div.right div.slip ul{
    padding-top: 20px;
}
#availability .wrapper div.right div.slip ul li{
    margin-top: 20px;
    background-color: antiquewhite;
}
#availability .wrapper div.left{
    width: 45%
}
#availability .wrapper div.left h5{
    font-size: 30px;
    font-weight: bold;
}
#availability .wrapper div.left ul {
    padding-top: 40px;
    width: 80%;
    margin: 0 auto;
}
#availability .wrapper div.left ul li{
    width: 20%;
}
#availability .wrapper div.left ul li img{
    display: block;
    width: 100%;
}